.form-input{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}

.seller-auth{
    display: flex;
    justify-content: center;
    
}
